body {
  font-family: 'Comic Sans MS', Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  text-align: center;

  background-color: white;
  background-image: url('DAY.png');
  background-repeat: no-repeat;
  background-position: left top;
}

/* ===== BLOB ===== */
#blob-container {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

#blob-btn {
  width: 300px;
  height: auto;
  cursor: pointer;
}

/* ===== UPGRADE BOX ===== */
#upgrade-container {
  position: absolute;
  left: 50%;
  bottom: 350px;
  transform: translateX(-50%);

  background: #fff3e6;
  border: 2px solid #f0c27b;
  border-radius: 12px;
  padding: 15px;
  width: 300px;
}

/* ===== COUNTER ===== */
#size-counter {
  margin-top: 20px;
  font-size: 48px;
}
